/*navbar*/
#menu {
	background: #F6DCB9;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;
	border: 1px solid #8B4513;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: left;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 43px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #8B4513;
	border-radius: 10px;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 43px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #8B4513;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#8B4513;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
li {
    float: left;
  }
/*navbar*/

/*főoldal*/
.fooldal_div_cim{
	margin-left: auto;
	margin-right: auto;
}
.fooldal_cim{
	text-align: center;
	color: white;
	max-width: 750px;
	height: 600px;
	display: flex;
	font-size:xx-large;
	align-items: center;
	border-radius: 21px 21px 21px 21px;
	border: 2px solid #8b4513;
	background-image: url("../kepek/cookies.jpg");
	background-position: center;
	background-size: 750px, 600px;
}
.fooldal_szoveg{
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
}
/*főoldal*/

/*sütemények*/
.sutemenyek_div{
	border-radius: 21px 21px 21px 21px;
	border: 2px solid #8b4513;
	background: #ffffff;
	padding: 3px;
	color: #D2B48C;
	text-shadow:1px 1px 2px;
}
.sutemenyek_kepek{
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #8b4513;
}
.sutemenyek_button{
	background-color: #D2B48C;
	color: #ffffff;
	border-radius: 10px 10px 10px 10px;
}
/*sütemények*/

/*sütemények_részletek*/
.reszletek_div{
	margin-bottom: 2rem;
}
.reszletek_div_kep{
	margin-left: auto;
	margin-right: auto;
}
.reszletek_kep{
	border: 3px dotted #8b4513;
	border-radius: 10px 10px 10px 10px;
	object-fit: cover;
}
.reszletek_cim{
	margin: 1rem;
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
}
.reszletek_div_p{
	text-align: left;
	font-weight: bold;
	margin-bottom: 1px;
	border-bottom: 2px solid black;
}
.reszletek_div_li{
	text-align: left;
	margin-bottom: 1px;	
	border-bottom: 1px solid black;
}
.reszletek_hozzavalok_div{
	font-family:cursive;
	margin-left: 1rem;
	margin-right: auto;
	margin-bottom: 2rem;
	background-color: whitesmoke;
}
.reszletek_leiras{
	margin-bottom: 1rem;
}
.reszletek_vissza_div{
	align-items: center;
	margin: auto;
}
.reszletek_vissza_button{
	background-color: #8b4513;
	color: #ffffff;
	border-radius: 10px 10px 10px 10px;
}
/*sütemények_részletek*/

body{
	background-image: url("../kepek/Építészeti\ Tervek1.jpg");
	background-size: contain;
}
.row{
    background-color: #D2B48C;
    margin-left: 10px;
    margin-right: 10px;
}
.logoDiv{
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo{

    max-width: 200px;
    max-height: 200px;
}
.email{
    width: 300px;
}
