body{
	background-image: url("../kepek/Építészeti\ Tervek1.jpg");
	background-size: contain;
}
.row{
    background-color: #D2B48C;
	border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.logoDiv{
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo{
    max-width: 200px;
    max-height: 200px;
}
.email{
    width: 300px;
}
/*navbar*/
#menu {
	background: #F6DCB9;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;
	border: 1px solid #8B4513;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: left;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 43px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #8B4513;
	border-radius: 10px;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 43px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	border-radius: 10px;
	width: auto;
	background: #8B4513;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display:block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block;
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #8B4513;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#8B4513;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
li {
    float: left;
}
/*navbar*/

/*főoldal*/
.fooldal_div_cim{
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	background-image: url("../kepek/cookies.jpg");
	background-position: center;
	background-size: 750px, 600px;
	border-radius: 21px 21px 21px 21px;
	border: 2px solid #8b4513;
	display: flex;
	align-items: center;
	text-align: center;
}
.fooldal_cim{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: flex;
	align-items: center;
	color: white;
	font-size:xx-large;
	text-shadow: 1px 1px 2px gray;
	margin: 1rem;
}
.fooldal_szoveg{
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
}
/*főoldal*/

/*sütemények*/
.sutemenyek_div{
	border-radius: 21px 21px 21px 21px;
	border: 2px solid #8b4513;
	background: #ffffff;
	padding: 3px;
	color: #D2B48C;
	text-shadow:1px 1px 2px;
}
.sutemenyek_kepek{
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #8b4513;
}
.sutemenyek_button{
	background-color: #D2B48C;
	color: #ffffff;
	border-radius: 10px 10px 10px 10px;
}
.fa-regular{
	cursor: pointer;
}
/*sütemények*/

/*sütemények_részletek*/
.reszletek_div{
	margin-bottom: 2rem;
}
.reszletek_div_kep{
	margin-left: auto;
	margin-right: auto;
}
.reszletek_kep{
	border: 3px dotted #8b4513;
	border-radius: 10px 10px 10px 10px;
	object-fit: cover;
}
.reszletek_cim{
	margin: 1rem;
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
}
.reszletek_div_p{
	text-align: left;
	font-weight: bold;
	margin-bottom: 1px;
	border-bottom: 2px solid black;
}
.reszletek_div_lo{
	text-align: left;
	margin-bottom: 1px;	
	border-bottom: 1px solid black;
}
.reszletek_hozzavalok_div{
	font-family:cursive;
	margin-left: 1rem;
	margin-right: auto;
	margin-bottom: 2rem;
	background-color: whitesmoke;
}
.reszletek_leiras{
	font-size: larger;
	text-shadow: 1px 1px 2px gray;
	margin-bottom: 1rem;
}
.reszletek_vissza_div{
	align-items: center;
	margin: auto;
}
.reszletek_vissza_button{
	background-color: #8b4513;
	color: #ffffff;
	border-radius: 10px 10px 10px 10px;
}
.sutemenyek_like{
	color: #D2B48C;
	text-decoration:none;
}
.sutemenyek_like:hover{
	text-decoration: none;
	color: #D2B48C;
}
.sutemenyek_like:visited{
	color: black;
	text-decoration: none;
}
/*sütemények_részletek*/

/*sajátrecept*/
.sajatrecept_div{
	background-image: url(../kepek/cookies_background1.png);
	background-size: 360px 360px;
	background-repeat: repeat;
}
.sajatrecept_cim{
	margin: 1rem;
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
	font-size: large;
	text-align: center;
	margin: 1rem;
}
.sajatrecept_nev{
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
	font-size: large;
	margin: 1rem;
}
.sajatrecept_kep{
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
	font-size: large;
	margin: 1rem;
}
.sajatrecept_leiras{
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
	font-size: large;
	margin: 1rem;
}
.uploaded-img{
		color: white;
		text-shadow: 1px 1px 2px #8b4513;
		font-size: large;
}
.uploadedMsg-img{
	color: white;
		text-shadow: 1px 1px 2px #8b4513;
		font-size: large;
}
.sajatrecept_textarea{
	border-radius: 10px;
	border: 1px solid #8b4513;
}
.hozzavalok_div1{
	background-color: rgba(17, 17, 17, 0.3);
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
}
.hozzavalok_div2{
	display: flex;
	flex-wrap: wrap;
}
.hozzavalok_div3{
	background-color: rgba(17, 17, 17, 0.3);
	border: 1px solid black;
	border-radius: 10px;
}
.hozzavalo_elso{
	color: white;
		text-shadow: 1px 1px 2px #8b4513;
}
.hozzavalo_masodik{
	color: white;
		text-shadow: 1px 1px 2px #8b4513;
}
.hozzavalo_harmadik{
	color: white;
		text-shadow: 1px 1px 2px #8b4513;
}
.hozza2_harmadik{
	margin-bottom: 0.5rem;
}
/*sajátrecept*/

/*bejelentkezés*/
/*bejelentkezés*/

/*regisztráció*/
/*regisztráció*/

/*profil*/
.profil_Logo{
	margin: 5px 0px 10px 0px;
}
.profil_Felhasznalo {
	border-bottom: #8b4513 2px dashed;
	border-radius: 0px;
	margin: auto;
}
.profil_Div {
	display: block;
	margin: auto;
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
	font-size: larger;
}
.profil_Vnev {
	margin-top: 10px;
	margin-bottom: 10px;
}
.profil_Knev {
	margin-top: 10px;
	margin-bottom: 10px;
}
.profil_Email {
	margin-top: 10px;
	margin-bottom: 10px;
}
.profil_Mentett_Cim {
	color: white;
	text-shadow: 1px 1px 2px #8b4513;
}
.profil_Kedvencek {
	margin: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	background-image: url(../kepek/abstract-wavy-lines-seamless-vector-600nw-1967983942.webp);
	background-size: 450px 300px;
	background-repeat: repeat;
	display: flex;
	justify-content: center;
}
.profil_Sutemeny_Div {
	border-radius: 21px 21px 21px 21px;
	border: 2px solid #8b4513;
	background: #ffffff;
	padding: 3px;
	color: #D2B48C;
	text-shadow: 1px 1px 2px;
}
/*profil*/
